include ./mixins/message
include ./mixins/image

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Хэллоуин 2020
		link(
			rel='stylesheet'
			href='/dist/header.css'
		)
		script(src='/dist/header.js')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='mobile-web-app-capable'
			content='yes'
		)
body
	.hero.is-fullheight.background.cover.hero-body
		.container.has-text-centered
			+message(name, desc)
			if imgs
				.section.pure-g
					each img, index in imgs
						+image(index, img)

				button#submitBtn.button.is-light.is-outlined.is-large.mb-3(type='button') Отправить
			if name
				br
				a.button.is-rounded.is-light.is-outlined(
					href='/auth/logout'
					role='button'
					tabindex='-1'
				) Выйти

	if imgs
		script(src='/dist/index.js')
