include ./mixins/message
include ./mixins/image

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Хэллоуин 2020
		link(
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css'
		)
		link(
			rel='stylesheet'
			href='https://unpkg.com/purecss@2.0.3/build/base-min.css'
		)
		link(
			rel='stylesheet'
			href='https://unpkg.com/purecss@2.0.3/build/grids-min.css'
		)
		link(
			rel='stylesheet'
			href='https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css'
		)
		link(
			rel='stylesheet'
			href='/dist/header.css'
		)
		script(
			type='text/javascript'
			src='/dist/header.js'
		)
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='mobile-web-app-capable'
			content='yes'
		)
body: section.hero.is-fullheight.background.cover.hero-body
	.container.has-text-centered
		+message(name, desc)
		if imgs
			.section.pure-g
				each img, index in imgs
					+image(index, img)

			button#submitBtn.button.is-warning.is-large.mb-3(
				type='button'
			) Отметить
			script(
				type='text/javascript'
				src='/dist/index.js'
			)
	
	if name && !imgs
		nav.is-fixed-bottom
			.content.container.cover(style={
				background: 'url("https://i.imgur.com/q7T5u3m.png")',
				'background-size': '100px 100px',
				width: '100px',
				height: '100px',
			})
