include ./mixins/message
include ./mixins/image

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Хэллоуин 2020
		link(
			rel='stylesheet'
			href='/dist/header.css'
		)
		script(src='/dist/header.js')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='mobile-web-app-capable'
			content='yes'
		)
body
	.hero.is-fullheight.background.cover.hero-body
		.container.has-text-centered
			+message(name, desc)
			if imgs
				.section.pure-g
					each img, index in imgs
						+image(index, img)

				button#submitBtn.button.is-light.is-outlined.is-large.mb-3(type='button') Отправить
			if name
				br
				a.button.is-rounded.is-light.is-outlined(
					href='/auth/logout'
					role='button'
					tabindex='-1'
				) Выйти

		if name
			nav.is-fixed-bottom: .content.container.has-text-centered.is-max-desktop
				| Пожалуйста, не отправляй эту ссылку в общие каналы. Если кто-то будет спрашивать про этот сайт, отправляй ссылку в личные сообщения только если считаешь этого человека своим другом. Спасибо.
				br
				| Powered by 
				a.has-text-dark(href='https://octothorp.team/') Octothorp Team
				|  and 
				a.has-text-dark(href='https://wani4ka.ru/') Wani4ka.Ru

	if imgs
		script(src='/dist/index.js')
