<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хэллоуин 2020</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/assets/style.min.css">
</head>
<body class="cover">
<div class="d-flex align-items-center vh-100 vw-100">
    <div class="container text-center">
        <h1 class="display-2 text-break display-halloween font-weight-bolder">Хэллоуин</h1>
        <br>
        <% if (!user) { %>
            <a class="h3 btn btn-dark" href="auth" role="button">Авторизоваться</a>
        <% } else if (user.imgs) { %>
            <span class="h1 text-break">Привет, <%= user.name %>!</span> <a class="badge badge-pill badge-dark" href="auth/logout" role="button">Выйти</a>
            <h3>На сервере "Истории города Доброград" появились загадочные силуэты в окнах. Сможешь найти их?</h3>
            <% for (var i = 0; i < user.imgs.length; ++i) { %>
                <% var img = user.imgs[i] %>
                <div class="cover float-left" style="background: url('<%= img.url %>'); width: <%= img.w %>; height: <%= img.h %>"></div>
            <%}%>
        <% } else { %>
            <span class="h1 text-break">Привет, <%= user.name %>!</span> <a class="badge badge-pill badge-dark" href="auth/logout" role="button">Выйти</a>
            <h3>Возможно, в будущем здесь появится что-то интересное. Заходи сюда почаще!</h3>
            <div class="cover" style="background: url('https://i.imgur.com/q7T5u3m.png'); width: 100px; height: 100px;"></div>
        <% }%>
    </div>
</div>
</body>
</html>
