mixin message(name, text)
	.title.is-1.has-text-weight-bold.is-family-primary Хэллоуин

	if !name

		a.button.is-dark.is-medium(
			href='/auth'
			role='button'
		) Авторизоваться

	else

		span.subtitle.is-3 Привет, #{name}! 
		a.button.tag.is-rounded.is-dark.is-outlined(
			href='/auth/logout'
			role='button'
		) Выйти
		if text
			.is-size-4= text
		else
			.is-size-4
				| Ночами тёмными по улицам бродят они. На 
				a.has-text-grey-dark(
					style={'text-decoration': 'underline'}
					href='https://octo.gg/join-dbg'
				) востоке города
				| , за рамами в окнах таясь, то скребутся, то воют. Дома, приютившие их, должны быть непременно отмечены. Взор навостри, вокруг осмотрись, будь осторожен, нечисть ища.
